<li class="glyphComments-item">
  <section class="glyphComments-authorImage">
  <%= link_to(comment.user) do %>
    <img class="glyphFeed-Image" src="<%= gravatar_url_for comment.user, size: 300 %>">
  <% end %>
  </section>
  <aside class="glyphComments-author"><%= link_to comment.user.username, comment.user %></aside>
  <div class="glyphComments-content">
    <%= comment.text %>
    <br>
    <% if comment.image_attachment? %>
      <a href="<%= comment.image_attachment.url %>" data-lightbox="glyph-image"><%= image_tag comment.image_attachment.url, class: "glyph-Lightbox-small" %></a>
    <% end %>
    <% unless comment.panda_video_id.empty? %>
      <% if comment.panda_video.encodings["h264"].status == "success" %>
        <video id="movie" width="<%= comment.panda_video.encodings["h264"].width %>" height="<%= comment.panda_video.encodings["h264"].height %>" preload="none" poster="<%= comment.panda_video.encodings["h264"].screenshots.first %>" controls>
          <source src="<%= comment.panda_video.encodings["h264"].url %>" type="video/mp4">
        </video>
      <% else %>
        <p>We're still processing your video.  Check back in a few minutes.</p>
      <% end %>
    <% end %>
  </div>
  <% if current_user?(comment.user) %>
    <div class="glyphComments-close">
      <%= link_to '&times;'.html_safe, 
                  [comment.glyph, comment], 
                  alt: "Delete",
                  title: "Delete Comment?",
                  method: :delete,
                  data: { 
                    confirm: "Are you sure you'd like to delete this comment?" 
                  } 
      %>
    </div>
  <% end %>
</li>