
<%= form_for @user, role: "form" do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

  <%= f.email_field :email, class: "input-text", placeholder: "Email" %>

  <%= f.text_field :username, class: "input-text", placeholder: "Username" %>

  <%= f.password_field :password, class: "input-text", placeholder: "Password" %>

  <%= f.password_field :password_confirmation, class: "input-text", placeholder: "Confirm Password" %>
  <br><br>

  <section class="action">
    <%= f.submit class: "action-primary" %>
  </section>

<% end %>
