<% provide(:title, @user.username) %>
<section class="glyphHeader-create">
</section>
<section class="glyphSidebar">
  <div class="gravatarSidebar" style="background-image: url(<%= gravatar_url_for @user, size: 300 %>)">
    <div class="caption">
      <%= @user.username %>
    </div>
  </div>
  <section class="stats">
    <%= render 'stats' %>
  </section>
  <% unless current_user?(@user) %>
  <div id="follow_form">
    <% if current_user.following?(@user) %>
      <%= render 'unfollow' %>
    <% else %>
      <%= render 'follow' %>
    <% end %>
  </div>
  <% end %>
</section>
<section class="glyphInfo">
  <% if @user.glyphs.any? %>
    <section class="glyphFeed">
      <h4 class="glyphFeed-title">Glyphs (<%= @user.glyphs.count %>)</h4>
      <ul class="glyphFeed-list">
        <%= render @glyphs %>
      </ul>
      <%= will_paginate @glyphs %>
    </section>
  <% end %>
</section>