<li class="glyphFeed-item" data-id="<%= glyph.id %>">
  <section class="glyphFeed-authorImage">
    <%= link_to(glyph.user) do %>
    <img class="glyphFeed-Image" src="<%= gravatar_url_for glyph.user, size: 300 %>">
    <% end %>
  </section>
  <div class="glyphFeed-author">
    <%= link_to glyph.user.username, glyph.user %>
  </div>
  <div class="glyphFeed-timestamp">
    Posted <%= time_ago_in_words(glyph.created_at) %> ago.
  </div>
  <p class="glyphFeed-tagline"><%= link_to glyph.tagline, glyph %></p>
  <div class="glyphFeed-Actions">
    <% if current_user?(glyph.user) %>
      <%= link_to "Edit", edit_glyph_path(glyph) %>
      <%= link_to "Delete", glyph, method: :delete,
                                   data: { confirm: "You sure?" } %>
    <% end %>
  </div>
</li>