<%= form_for(@glyph, html: { multipart: true }, role: "form") do |f| %>
  <%= f.hidden_field :latitude, value: 0.0 %>
  <%= f.hidden_field :longitude, value: 0.0 %>
  <%= f.hidden_field :panda_video_id %>
<section class="glyphInfo create">
  <%= render 'shared/error_messages', object: f.object %>
  <header class="glyphInfo-text">
    <%= f.text_field :title, class: "input-text--large", placeholder: "Glyph Title", required: true %>
  </header>
</section>

<section class="glyphContent">
  <div class="action-primary addHeader">
    Add Header Image
    <div class="fileButtonWrapper">
      <%= f.file_field :header_image, accept: 'image/png,image/gif,image/jpeg,image/jpg' %>
    </div>
  </div>
  <label class="input-label">Glyph Information</label>
  <%= f.text_field :tagline, class: "input-text", placeholder: "What's the best part about this spot?", required: true %>
  <%= f.text_area :content, class: "input-textbox", placeholder: "Give some details and things you think are important. You can also add photos and video.", required: true %>
  <section class="input-textboxActions">
    <div class="input-textboxAction--photo">
      <div class="fileButtonWrapper">
        <%= f.file_field :image_attachment, accept: 'image/png,image/gif,image/jpeg,image/jpg' %>
      </div>
    </div>
    <i id="panda-button" class="input-textboxAction--video"></i>
    <span id="progress-bar"></span>
  </section>

  <select class="input-dropdown">
    <option value="Blah">Everyone</option>
    <option value="Okay">Friends</option>
  </select>
  <span class="glyphInfo-dropdownText">can see this.</span>
  <section class="action">
    <%= link_to "Cancel", root_url, class: "action-secondary" %>
    <%= f.submit class: "action-primary" %>
  </section>

</section>
<% end %>

<script src="//cdn.pandastream.com/u/2.3/panda-uploader.min.js"></script>
<script type="text/javascript">
  $('#glyph_image_attachment').bind('change', function() {
    size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
    if(this.files[0]) {
      $(this).closest('.input-textboxAction--photo').addClass('has-file');
    }
  });

  $('#glyph_header_image').bind('change', function() {
    size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
    if(this.files[0]) {
      $('.addHeader').css('border-color', '#494947');
    }
  });

  var upl = panda.uploader.init({
    'buttonId': 'panda-button',
    'fileDropId': "file-drop",
    'onQueue': function(files) {
      $('#progress-bar').text("One moment. Uploading...");
    },
    'onProgress': function(file, percent) {
      $('#progress-bar').text(percent + "%");
    },
    'onSuccess': function(file, data) {
      $("#glyph_panda_video_id").val(data.id)
      $('#progress-bar').text("Done: " + data.original_filename);
    },
    'onComplete': function(){
      console.log("Complete!");
    }
  });
</script>