<% provide(:title, @glyph.title) %>
<section class="glyphHeader-image"></section>

<section class="glyphSidebar">
  <div class="glyphSidebar-location">
    <div id="map-canvas" class="single"></div>
  </div>
  <button class="button-secondary tip desktop">Tip the Creator</button>
</section>

<section class="glyphInfo">
  <header class="glyphInfo-text">
    <h2 class="glyphInfo-textTitle"><%= @glyph.title %></h2>
    <span class="glyphInfo-textCreator">by <%= @glyph.user.username %></span>
  </header>
  <div class="glyphHeader-like" id="like"></div>
  <h3 class="glyphInfo-heading"><%= @glyph.tagline %></h3>
  <div class="glyphInfo-content">
    <p><%= @glyph.content %></p>
    <%= image_tag @glyph.image_attachment.url if @glyph.image_attachment? %>
  </div>

  <section class="glyphComments">
    <h4 class="glyphComments-title">Comments</h4>
    <ul class="glyphComments-list">
      <li class="glyphComments-item">
        <section class="glyphComments-authorImage"></section>
        <aside class="glyphComments-author">Thomas Drach</aside>
        <p class="glyphComments-content">Skate ipsum dolor sit amet, airwalk launch ramp risers locals full pipe 50-50 slide Bonite.Skate ipsum dolor sit amet, airwalk launch ramp risers locals full pipe 50-50 slide Bonite.</p>
      </li>      
      <li class="glyphComments-item">
        <section class="glyphComments-authorImage"></section>
        <aside class="glyphComments-author">Thomas Drach</aside>
        <p class="glyphComments-content">Skate ipsum dolor sit amet, airwalk launch ramp risers locals.</p>
      </li>
    </ul>

    <!-- Pre-add State -->
    <section class="glyphComments-add">
      <span class="action-primary" id="addComment">Add a Comment</span>
    </section>

    <!-- Add State -->
    <section class="glyphComments-adding">
      <h4 class="glyphComments-addPrompt">Adding Comment</h4>
      <textarea class="input-textbox" placeholder="Omg this spot was sooo sick."></textarea>
      <section class="input-textboxActions">
        <i class="input-textboxAction--photo"></i>
        <i class="input-textboxAction--video"></i>
      </section>
      <section class="action">
        <span class="action-secondary" id="cancelComment">Cancel</span>
        <span class="action-primary">Save</span>
      </section>
    </section>

    <button class="button-secondary tip mobile">Tip the Creator</button>
    
    <span class="action-primary report">Report Location as Innaccurate</span>

  </section>

</section>