  <header class="banner"></header>

<% if logged_in? %>

  <nav class="nav">
    <%= link_to root_path, class: "current" do %>
      <h1 class="nav-brand"></h1>
    <% end %>
    <ul class="nav-links">
      <li class="nav-link">
        <%= link_to "Logout", logout_path, class: "nav-linkText", method: "delete" %>
      </li>
    </ul>
  <div class="nav-mobile-icon"></div>
  </nav>

  <div class="nav-mobile">
    <ul class="nav-mobileLinks">
      <li class="nav-mobileLink">
        <%= link_to "Logout", logout_path, class: "nav-mobileLinkText", method: "delete" %>
      </li>
    </ul>
  </div>

<% else %>
  <nav class="nav">
    <%= link_to root_path, class: "current" do %>
      <h1 class="nav-brand"></h1>
    <% end %>
    <ul class="nav-links">
      <li class="nav-link">
        <%= link_to "Signup", signup_path, class: "nav-linkText" %>
      </li>
      <li class="nav-link">
        <%= link_to "Login", login_path, class: "nav-linkText" %>
      </li>
    </ul>
  <div class="nav-mobile-icon"></div>
  </nav>

  <div class="nav-mobile">
    <ul class="nav-mobileLinks">
      <li class="nav-mobileLink">
        <%= link_to "Login", login_path, class: "nav-mobileLinkText" %>
      </li>    
      <li class="nav-mobileLink">
        <%= link_to "Signup", signup_path, class: "nav-mobileLinkText" %>
      </li>
    </ul>
  </div>
<% end %>