<!DOCTYPE html>
<html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title><%= full_title(yield(:title)) %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="/favicon.png" rel="shortcut icon">
  <link href="/favicon.png" rel="apple-touch-icon">
  <link rel="icon" type="image/png" href="/favicon.png">
  <script src="//cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="//use.typekit.net/wmy7jqv.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <script src="http://maps.google.com/maps/api/js?key=<%= MAPS_API_KEY %>" type="text/javascript">
  </script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>

<body class="home">

<!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->
  <%= render 'layouts/header' %>

  <% flash.each do |message_type, message| %>
    <div class="flash-alert flash-alert-dismissable flash-alert-<%= message_type %>">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= message %>
    </div>
  <% end %>

  <%= yield %>

  <footer class="footer">
      <span class="footer-content">Footer Content</span>
  </footer>

</body>
</html>
